// Simulation settings
// How far away from the inputted target location to be considerd a "hit"
distance_tol=0.01
// Size of change in t in each step of the simulation (smaller means more total steps taken)
time_stepSize=0.1

// Environment Conditions
windSpeed=1.0
windDirection=1.0
atmosphericDensity=1.225
gravity=9.81

// Location of the target relative to launch point
target_x=1.0
target_y=1.0
target_z=1.0

// Characteristics of the projectile being used
obj_mass=10.0
obj_dragCoeff=0.5
// The cross sectional area that is used in determining effect of drag and wind
obj_area=1.0

min_launch_v=0.0
max_launch_v=1.0
min_time=0.2
max_time=0.2

rng_seed=NONE
// This value should be divisible by 1024 (maximum thread count in a block)
// Basically, check your GPU's maxThreadsPerBlock and make sure it is divisible by it
pop_size=10240

//find out how many generations it will take to make it last 10 minutes for our presentation
max_generations=200

useCUDA=false